mixin cases()
    .cases#cases  
        .cases__body.container_2
            h2.cases__title.title Cases
            p.cases__subtitle.subtitle Кейсы
            .cases__slider 
                .cases__swiper.swiper 
                    .cases__swiper-wrapper.swiper-wrapper 
                        .cases__slide.swiper-slide 
                            .cases__img
                                img(src="@img/cases-1.png", alt="" draggable="false")
                                a(href="https://youtube.com").cases__link
                                    img(src="@img/play.png", alt="" draggable="false") 
                            p.cases__name Новогодний стимпанк для IT компании
                            p.cases__p 150 Человек
                        .cases__slide.swiper-slide 
                            .cases__img
                                img(src="@img/cases-2.png", alt="" draggable="false")
                                a(href="https://youtube.com").cases__link
                                    img(src="@img/play.png", alt="" draggable="false") 
                            p.cases__name Новогодний ивент в офисе компании
                            p.cases__p 200 Человек
                        .cases__slide.swiper-slide 
                            .cases__img
                                img(src="@img/cases-3.png", alt="" draggable="false")
                                a(href="https://youtube.com").cases__link
                                    img(src="@img/play.png", alt="" draggable="false") 
                            p.cases__name Тимбилдинг для ITкомпании
                            p.cases__p 600 Человек
                        .cases__slide.swiper-slide 
                            .cases__img
                                img(src="@img/cases-4.png", alt="" draggable="false")
                                a(href="https://youtube.com").cases__link
                                    img(src="@img/play.png", alt="" draggable="false") 
                            p.cases__name Альфа групп
                        .cases__slide.swiper-slide 
                            .cases__img
                                img(src="@img/cases-1.png", alt="" draggable="false")
                                a(href="https://youtube.com").cases__link
                                    img(src="@img/play.png", alt="" draggable="false") 
                            p.cases__name Новогодний стимпанк для IT компании
                            p.cases__p 150 Человек
                        .cases__slide.swiper-slide 
                            .cases__img
                                img(src="@img/cases-2.png", alt="" draggable="false")
                                a(href="https://youtube.com").cases__link
                                    img(src="@img/play.png", alt="" draggable="false") 
                            p.cases__name Новогодний ивент в офисе компании
                            p.cases__p 200 Человек
                        .cases__slide.swiper-slide 
                            .cases__img
                                img(src="@img/cases-3.png", alt="" draggable="false")
                                a(href="https://youtube.com").cases__link
                                    img(src="@img/play.png", alt="" draggable="false") 
                            p.cases__name Тимбилдинг для ITкомпании
                            p.cases__p 600 Человек
                        .cases__slide.swiper-slide 
                            .cases__img
                                img(src="@img/cases-4.png", alt="" draggable="false")
                                a(href="https://youtube.com").cases__link
                                    img(src="@img/play.png", alt="" draggable="false") 
                            p.cases__name Альфа групп
                .cases__buttons 
                    .cases__button-prev.cases__btn
                        <svg width="19" height="34" viewBox="0 0 19 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17 2L2 17L17 32" stroke="" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    .cases__button-next.cases__btn
                        <svg width="19" height="34" viewBox="0 0 19 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 2L17 17L2 32" stroke="" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                .cases__pagination.swiper-pagination