mixin intro()
    .intro 
        .intro__body.container 
            .intro__content
                h1.intro__title Организатор
                p.intro__p мероприятий #[span в Москве|]
                p.intro__desc Более 50 готовых программ
                .intro__row 
                    button(type="button").intro__btn Связаться
                    p.intro__text #[span Бесплатная консультация] #[br] по организации мероприятия
                p.intro__name Мария Ризоса
            .intro__img 
                img(src="@img/intro-img.png", alt="" draggable="false")