mixin organizations()
    .organizations#organization 
        .organizations__body.container_2
            h2.organizations__title.title WHAT WE DO
            p.organizations__subtitle.subtitle Организация мероприятий
            .organizations__content 
                a(href="business.html").organizations__item 
                    .organizations__img 
                        img(src="@img/organizations-1.png", alt="" draggable="false" data-target="url(../img/organizations-img-1.png)")
                    p.organizations__p Деловые мероприятия
                a(href="teambuilding.html").organizations__item 
                    .organizations__img 
                        img(src="@img/organizations-2.png", alt="" draggable="false" data-target="url(../img/organizations-img-2.png)")
                    p.organizations__p Тимбилдинги
                a(href="corporative.html").organizations__item 
                    .organizations__img 
                        img(src="@img/organizations-3.png", alt="" draggable="false" data-target="url(../img/organizations-img-3.png)")
                    p.organizations__p Корпоративные мероприятия
                a(href="private.html").organizations__item 
                    .organizations__img 
                        img(src="@img/organizations-4.png", alt="" draggable="false" data-target="url(../img/organizations-img-4.png)")
                    p.organizations__p Частные события