mixin partners()
    .partners 
        .partners__body.container 
            h2.partners__title.title OUR PARTNERS 
            p.partners__subtitle.subtitle Наши клиенты
            .partners__content 
                .partners__item 
                    .partners__img 
                        img(src="@img/partners-1.png", alt="" draggable="false")
                .partners__item 
                    .partners__img 
                        img(src="@img/partners-2.png", alt="" draggable="false")
                .partners__item 
                    .partners__img 
                        img(src="@img/partners-3.png", alt="" draggable="false")
                .partners__item 
                    .partners__img.sm
                        img(src="@img/partners-4.png", alt="" draggable="false")
                .partners__item 
                    .partners__img 
                        img(src="@img/partners-5.png", alt="" draggable="false")