mixin why()
    .why 
        .why__body.container 
            h2.why__title.title WHY ME
            .why__content
                p.why__subtitle.subtitle Почему нужно работать со мной?
                .why__wrapper 
                    .why__left 
                        .why__item 
                            .why__img 
                                img(src="@img/why-img-1.png", alt="" draggable="false")
                            .why__info 
                                p.why__p Качественная и на высоком уровне организация мероприятий любого формата «под ключ»
                                p.why__desc Это значит, что приоритет для меня – ваш комфорт и доверие. А в проекте значение имеет каждая деталь.
                        .why__item 
                            .why__img 
                                img(src="@img/why-img-2.png", alt="" draggable="false")
                            .why__info 
                                p.why__p Моя команда состоит из профессионалов с большим опытом – режиссеры, технические директора и подрядчики
                                p.why__desc Я работаю только с проверенными контрагентами и артистами – не рискую своей репутацией
                        .why__item 
                            .why__img 
                                img(src="@img/why-img-3.png", alt="" draggable="false")
                            .why__info 
                                p.why__p Работаю по договору «вбелую» с различными формами оплаты. Все риски беру на себя
                                p.why__desc Если вы останетесь не довольны качеством услуги – гарантия возврата денег
                    .why__left 
                        .why__item 
                            .why__img 
                                img(src="@img/why-img-4.png", alt="" draggable="false")
                            .why__info 
                                p.why__p Нет переплаты 10% агентской комиссии
                                p.why__desc Вы платите фиксированный гонорар за организацию. Смета прозрачна, нет «зашитых» доплатежей. Все честно
                        .why__item 
                            .why__img 
                                img(src="@img/why-img-5.png", alt="" draggable="false")
                            .why__info 
                                p.why__p Для меня важно слышать клиента, понимать глубинные задачи проекта и предлагать эффективные решения
                                p.why__desc Самое главное - доверие и синергия, именно поэтому 90% клиентов остаются со мной на долгие годы